nav {
    border-bottom: 1px solid var(--stroke-color);
    border-top: 1px solid var(--stroke-color);
    padding-block: 14px;
}

.container ul {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}