#principal .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 16px;
      padding-block: 40px 80px;
      border-bottom: 1px solid var(--stroke-color);
}

#principal div:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
}

#principal div:nth-child(2) {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
}

.blog-card {
      position: relative;
}

.blog-card img {
      width: 100%;
      display: block;
      border-radius: 8px;
}

.overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 20%, transparent 100%);
      border-radius: 0 0 8px 8px;
}

.texto-overlay-principal {
      background-color: transparent;
      padding: 60px 24px 24px;
}

.texto-overlay {
      background-color: transparent;
      padding: 100px 12px 12px;
}

.categoria {
      background-color: var(--brand-color-dark);
      padding: 4px 8px;
      border-radius: 4px;
      font-weight: bold;
      font-size: 10px;
      display: inline-block;
      margin-bottom: 8px;
      text-transform: uppercase;
}

.titulo-imagem {
      font-size: 14px;
      line-height: 140%;
      font-weight: 700;
      background-color: transparent;
}

.titulo-imagem-principal {
      max-width: 560px;
      font-size: 24px;
      line-height: 135%;
      font-weight: 700;
      background-color: transparent;
}